*{             
}
body{
    display: grid;
    grid-template-rows: 27% auto;
    margin: auto;
    row-gap: 3%;
    background:url('/static/images/doddy.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*Creates rival ball firing effect*/
body .clickEffect {
    position:fixed;
    box-sizing:border-box;
    border-style:solid;border-color:#FFFFFF;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}
@keyframes clickEffect{
    0% {
    opacity:1;
    width: 100px; 
    height: 100px;
    margin:-7px;
    border-width:100px;
    border-color: yellow;
}
    100%{
    opacity:1;
    width:10px; 
    height:10px;
    margin:-1px;
    border-width:10px;
    border-color: rgb(94, 94, 66)
    }
}
.top-banner{
    display: grid;
    grid-template-columns: 25% auto 25%;
    align-items:center;
    text-align:center;
    padding:2%;
    height:50%;
}
.tag-straight{
    display:block;
}
.tang-spent-ages{
    color: white;
    font-size:1vw;
    line-height: 3vh;
    font-family: 'Press Start 2P', cursive;
}
.straight{
    color: white;
    font-size:1.8vw;
    line-height: 1rem;
    font-family: 'Press Start 2P', cursive;
}
.justajolt{
    height:100%;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 10vw;
    font-family: 'Orbitron', sans-serif;
}
.justajolt .container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.justajolt .container .joltcard{
    position: relative;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(239, 243, 7, 0.096);
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.justajolt .container .joltcard .content{
    padding: 10px;
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}
.justajolt .container .joltcard:hover .content{
    opacity: 1;
    transition: 0.5s;
    background: rgba(243, 7, 7, 0.548);
}
.justajolt .container .joltcard .content a{
    color:white;
    text-decoration: none;
}
.kindly-do-not{
    display:flex;
    font-size: 1.4vw;
    font-family: 'Press Start 2P', cursive;
    color:white;
    flex-direction: column;
    align-items: center;
}
.trigger{
    text-shadow: 5px 5px black;
    font-size: 3vw;
}
.trigger:hover{
    color:red;
    animation: shake 0.3s;
    animation-iteration-count: infinite;
}
/*Shake effects used with animation:shake time;*/
@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-2deg); }
    20% { transform: translate(-4px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}    
.tang{
    font-size: 2vw;
}

.main-section{
    display:grid;
    grid-template-columns: 30% auto 30%;
    text-align: center;
    align-items: center;
    margin:3%;
}

.left-sidebar{
    display:block;
    font-size: 3.7vw;
    color:white;
    font-family: 'Orbitron', sans-serif;
    
}

.item{
    border-radius: 5px;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    
}
.item a{
    text-decoration: none;
    color: white;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    
}
.item a:hover{
    text-decoration: none;
    color:rgb(179, 255, 1);
}
.item:hover{
    background-color: rgb(18, 18, 19);
    color:rgb(179, 255, 1);
    border-radius: 10px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.middle-section{
    margin-left: auto;
    margin-right: auto;
}

.tang-frame{
    height:max-content;
    width:max-content;
    
}
.tang-pic{
    height:50vh;
    width:50vh;

    background:url('/static/images/tang.jpg');
    background-position: 50% 0%;
    background-size: 170%;
    
    border-style: solid;
    border-radius: 5px;
    border-width:10px;
    border-color: black;

    transition: 1500ms;
    
}

.tang-pic-triggered{
    background-position: 50% 20%;
    background-size: 400%;
    box-shadow: 0px 20px 500px 40px rgba(243, 7, 7, 0.95);
    
    animation: shake 0.3s;
    animation-iteration-count: infinite;
    
    transition: 100ms;     
}

.right-sidebar{
    font-size: 2vw; 
    color:white;
    font-family: 'Orbitron', sans-serif;
    text-align: left;
    padding: 20px;
}

.social-media-row{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:30px;
}

.sm-item{
    width: 100%;
    height:7vw;
}
.sm-item:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 20px 500px 40px rgba(208, 255, 0, 0.95) invert;
} 

.tiktok{
    background:url('/static/images/tiktok.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.facebook{
    background:url('/static/images/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.instagram{
    background:url('/static/images/instagram.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.linkedin{
    background:url('/static/images/linkedin.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.youtube{
    background:url('/static/images/youtube.png'); 
    background-repeat: no-repeat;
    background-size: contain;
}



