body{
    margin:0%;
    padding:0%;
}

@media only screen and (min-width: 741px) {
    .mobile{
        display:none;
    }
    .desktop{
        display: grid;
        grid-template-rows: 28% auto;
        row-gap: 3%;
        background:url('/static/images/doddy.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
        font-family: 'Press Start 2P', cursive;
    }
    .top-banner{
        display: grid;
        grid-template-columns: 25% auto 25%;
        height:50%;        
        margin-top:2%;
        margin-bottom:5%;
        align-items:center;
        text-align:center;
        
        font-family: 'Press Start 2P', cursive;
    }
    .tag-straight{
        display:block;
    }
    .tang-spent-ages{
        font-size:1vw;
        line-height: 3vh;
    }
    .straight{
        font-size:1.8vw;
        line-height: 1rem;
    }
    .justajolt{
        height:100%;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 10vw;
        font-family: 'Orbitron', sans-serif;
    }
    .trigger{
        text-shadow: 5px 5px black;
        font-size: 3vw;
    }
    .main-section{
        display:grid;
        grid-template-columns: 30% auto 30%;
        text-align: center;
        align-items: center;
        margin-left:2%;
        margin-right:2%;
    }
}

.justajolt .container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.justajolt .container .joltcard{
    position: relative;
    margin: 10px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(239, 243, 7, 0.096);
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.justajolt .container .joltcard .content{
    padding: 10px;
    text-align: center;
    opacity: 0.5;
    transition: 0.5s;
}
.justajolt .container .joltcard:hover .content{
    opacity: 1;
    transition: 0.5s;
    background: rgba(243, 7, 7, 0.548);
}
.justajolt .container .joltcard .content a{
    color:white;
    text-decoration: none;
}

.kindly-do-not{
    display:flex;
    font-family: 'Press Start 2P', cursive;
    color:white;
    flex-direction: column;
    align-items: center;
}


.trigger:hover{
    color:red;
    animation: shake 0.3s;
    animation-iteration-count: infinite;
}
/*Shake effects used with animation:shake time;*/
@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -3px) rotate(-2deg); }
    20% { transform: translate(-4px, 0px) rotate(2deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.tang{
    font-size: 2vw;
}

.left-sidebar{
    display:block;
    font-size: 3.7vw;
    color:white;
    font-family: 'Orbitron', sans-serif;
}

.item{
    border-radius: 5px;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item a{
    text-decoration: none;
    color: white;
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item a:hover{
    text-decoration: none;
    color:rgb(179, 255, 1);
}
.item:hover{
    background-color: rgb(18, 18, 19);
    color:rgb(179, 255, 1);
    border-radius: 10px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
.middle-section{
    margin-left: auto;
    margin-right: auto;
}
.tang-frame{
    height:max-content;
    width:max-content;
}
.tang-pic{
    height:25vw;
    width:25vw;

    background:url('/static/images/tang.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 170%;

    border-style: solid;
    border-radius: 5px;
    border-width:10px;
    border-color: black;

    transition: 1500ms;
}


.tang-pic-triggered{
    background-position: 50% 20%;
    background-size: 400%;
    box-shadow: 0px 20px 500px 40px rgba(243, 7, 7, 0.95);
    animation: shake 0.3s;
    animation-iteration-count: infinite;
    transition: 100ms;
}
.right-sidebar{
    font-size: 2vw;
    color:white;
    font-family: 'Orbitron', sans-serif;
    text-align: left;
}
.social-media-row{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-gap:2vw;
}
.sm-item{
    width: 100%;
    height:7vw;
}
.sm-item:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 20px 500px 40px rgba(208, 255, 0, 0.95) invert;
}
.tiktok{
    background:url('/static/images/tiktok.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.facebook{
    background:url('/static/images/facebook.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.instagram{
    background:url('/static/images/instagram.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.linkedin{
    background:url('/static/images/linkedin.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.youtube{
    background:url('/static/images/youtube.png');
    background-repeat: no-repeat;
    background-size: contain;
}




@media only screen and (max-width: 740px) {
    .desktop{
        display:none;
    }
    .mobile{
        display: grid;
        grid-template-rows:auto;
        background:url('/static/images/doddy-mobile.png');
        background-repeat: no-repeat;
        background-size: 100vw 400vh;
        color: white;
        align-items:center;
        text-align:center;
    }
    
    .kindly-do-not{
        display:block;
        font-family: 'Press Start 2P', cursive;
        line-height: 4vw;
    }
    .straight{
        font-size:4vw;
        line-height: 5vw;
    }
    .justajolt{
        height:100%;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18vw;
        font-family: 'Orbitron', sans-serif;
    }
    .kindly{
        font-size: 5vw;
    }
    .trigger{
        font-size: 8vw;
        text-shadow: 5px 5px black;
    }
    .tang{
        font-size: 12vw;
    }
    .main-section{
        display:grid;
        grid-template-columns: auto;
        text-align: center;
        align-items: center;
        margin-left:2%;
        margin-right:2%;
    }
    .social-media-row{
        display:grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap:20px;
        justify-items: center;
        align-items: center;

        font-family: 'Orbitron', sans-serif;
        font-size: 4vw;
        color:white;
        
        text-align: left;
        margin: 20px;

    }
    .sm-item{
        width: 100%;
        height: 15vw;
    }
    .tang-pic{
        height:65vw;
        width:65vw;
    
        background:url('/static/images/tang.jpg');
        background-position: 50% 0%;
        background-size: 170%;
    
        border-style: solid;
        border-radius: 5px;
        border-width:10px;
        border-color: black;
    
        transition: 1500ms;
    }
    .tang-pic-triggered{
        background-position: 50% 20%;
        background-size: 400%;
        box-shadow: 0px 20px 500px 40px rgba(243, 7, 7, 0.95);
        animation: shake 0.3s;
        animation-iteration-count: infinite;
        transition: 100ms;
    }
    #hamnav {
        width: 100%;
        background: #000;
    }

    #hamitems { display: flex; }
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
        flex-grow: 1;
        flex-basis: 0;
        padding: 10px;
        color: rgb(179, 255, 1);
        font-family: 'Orbitron', sans-serif;
        font-size: large;
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
        display: inline-block; 
        color:rgb(179, 255, 1);
        background: black;
        font-style: normal;
        font-size: 5vw;
        padding: 10px;
    }

    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
    }
    

