{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>What am I even browsing...</title>
        
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        {% load static %}
        <link class="ignore" rel="stylesheet" href="{% static 'css/jolt_home.css' %}" type="text/css">
        <link class="ignore" rel="stylesheet" href="{% static 'css/target_range.css' %}" type="text/css">
        <link class="ignore" rel="stylesheet" href="{% static 'css/fling.css' %}" type="text/css">
        
        <script type="text/javascript" src="{% static 'js/vanilla-tilt.js' %}"></script>
            
    </head>
    <script>

        function switchTo(add) {
            var div_list = ['allow-elite','allow-mega','allow-vortex', 'allow-rival', 'allow-ultra' ]
            for (i in div_list){
                document.getElementsByTagName('body')[0].classList.remove(div_list[i]);
                console.log(div_list[i])
            }
            document.getElementsByTagName('body')[0].classList.add(add);
            console.log('add')
            console.log(add)
        }
    
    </script>
    <body>
        
        <div class = 'desktop'>
            <div class = 'top-banner'>
                <div class='tang-straight' id='one'>
                    <p id='one-a' class = ' tang-spent-ages tang-trig'>
                        Tang spent <u>ages</u> getting the bits on this page lined up
                    </p>
                    <p id='one-b' class = ' straight tang-trig'>
                        straight...
                    </p>
                </div>
                <div class = 'justajolt-logo'>
                    <div class = 'justajolt' onload="myFunction()">
                        <div class = 'container'>
                            <div class = 'joltcard'>
                                <div class = 'content'>
                                    <div class = 'jolt tang-trig'><a href ='https://www.youtube.com/channel/UC3Bn-Hrh_-U9gEsieL5aQmA'>justajolt</a></div>
                                </div>                   
                            </div>
                        </div>
                    </div> 
                </div>
                <div class='kindly-do-not'>
                    <div class='kindly tang-trig' id='two-a' style='display:none'>
                        <p>Kindly do not</p>
                    </div>
                    <div id='trigger' class='trigger'style='display:none'>
                        TRIGGER
                    </div>
                    <div class='tang tang-trig' id='two-b' style='display:none' >
                        <p id='two'>Tang</p>
                    </div>
                </div>

            </div>     

            <div class = 'main-section'>

                <div class = 'left-sidebar'>
                    <div class = 'item coding-portfolio'>Coming soon</div>
                    <div class = 'item nerf-videos'><a href = 'https://www.youtube.com/channel/UC3Bn-Hrh_-U9gEsieL5aQmA' target=”_blank”>Nerf videos</a></div>
                    <div class = 'item grim-up-nerf'><a href='https://www.facebook.com/Grimupnerf/' target=”_blank”>Grim Up Nerf</a></div>
                    <div class = 'item grim-up-nerf'>Coming soon</div>
                    <div class = 'item grim-up-nerf'>Coming soon</div>
                </div>
                
                <div class = 'middle-section'>
                    <div class = 'tang-frame'>
                        <div class = 'tang-pic'>

                            <div class = 'eye-container'>
                                <div class='eye'></div>
                                <div class='eye'></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = 'right-sidebar'>
                    <div class = 'social-media-row'>
                        <div id='one-c' class = 'tang-trig'>Follow me places</div>
                        <a href = 'https://www.tiktok.com/@justajolt?lang=en' class = 'sm-item tiktok' target=”_blank”></a>
                        <a href = 'https://www.youtube.com/channel/UC3Bn-Hrh_-U9gEsieL5aQmA' class = 'sm-item youtube' target=”_blank”></a>
                        <a href = 'https://www.facebook.com/justajolt/' class = 'sm-item facebook' target=”_blank”></a>
                        <a href = 'https://www.instagram.com/justajolt/?hl=en-gb' class = 'sm-item instagram' target=”_blank”></a>
                        <a href = 'https://www.linkedin.com/in/tom-michael-warburton-7a559442/?originalSubdomain=uk' class = 'sm-item linkedin' target=”_blank”></a>
                    </div>
                </div>
            </div>
                
        </div>
        
    
        <div class = 'mobile'>

            <!-- (A) MENU WRAPPER -->
            <nav id="hamnav">
                <!-- (B) THE HAMBURGER -->
                <label for="hamburger">&#9776;</label>
                <input type="checkbox" style='display:none' id="hamburger"/>
               
                <!-- (C) MENU ITEMS -->
                <div id="hamitems">
                    <a href="">coming soon</a>
                    <a href="https://www.youtube.com/channel/UC3Bn-Hrh_-U9gEsieL5aQmA">Nerf videos</a>
                    <a href="https://www.facebook.com/Grimupnerf/">Grim Up Nerf</a>
                    <a href="">coming soon</a>
                    <a href="">coming soon</a>
                </div>
            </nav>

            <div class = 'justajolt-logo'>
                <div class = 'justajolt' onload="myFunction()">
                    <div class = 'container'>
                        <div class = 'joltcard'>
                            <div class = 'content'>
                                <div class = 'jolt tang-trig'><a href ='https://www.youtube.com/channel/UC3Bn-Hrh_-U9gEsieL5aQmA'>justajolt</a></div>
                            </div>                   
                        </div>
                    </div>
                </div> 
            </div>

            <div class='kindly-do-not'>
                <p id='one-a' class = ' tang-spent-ages tang-trig'>
                    Tang spent <u>ages</u> getting the bits on this page lined up straight.
                </p>
                <p id='one-b' class = ' straight tang-trig'>
                    Please don't touch anything
                </p>
                <p id='one-c' class = ' straight tang-trig'>
                    or his hard work will be for nothing. 
                </p>
            </div>
            
            <div class = 'middle-section'>
                <div class = 'tang-frame'>
                    <div class = 'tang-pic'>
                        <div class = 'eye-container'>
                            <div class='eye'></div>
                            <div class='eye'></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='kindly-do-not' id='two'>
                <div class='kindly tang-trig' id='two-a' style='display:none'>
                    <p>Kindly do not</p>
                </div>
                <div id='trigger' class='trigger'style='display:none'>
                    TRIGGER
                </div>
                <div class='tang tang-trig' id='two-b' style='display:none' >
                    <p id='two'>Tang</p>
                </div>
            </div>

            <div class = 'social-media-row'>
                <a href = 'https://www.tiktok.com/@justajolt?lang=en' class = 'sm-item tiktok' target=”_blank”></a>
                <a href = 'https://www.youtube.com/channel/UC3Bn-Hrh_-U9gEsieL5aQmA' class = 'sm-item youtube' target=”_blank”></a>
                <a href = 'https://www.instagram.com/justajolt/?hl=en-gb' class = 'sm-item instagram' target=”_blank”></a>
                <a href = 'https://www.facebook.com/justajolt/' class = 'sm-item facebook' target=”_blank”></a>
                <a href = 'https://www.linkedin.com/in/tom-michael-warburton-7a559442/?originalSubdomain=uk' class = 'sm-item linkedin' target=”_blank”></a>
                <div id='three' class = 'tang-trig'>Follow me places</div>
            </div>

            <div class = 'buttons'>
                <div class = 'elite-button ammo-button' onClick = "switchTo('allow-elite')">Elite</div>
                <div class = 'mega-button ammo-button' onClick = "switchTo('allow-mega')">Mega</div>
                <div class = 'vortex-button ammo-button' onClick = "switchTo('allow-vortex')">Vortex</div>
                <div class = 'rival-button ammo-button' onClick = "switchTo('allow-rival')">Rival</div>
                <div class = 'ultra-button ammo-button' onClick = "switchTo('allow-ultra')">Ultra</div>  
            </div>

        </div>
    </body>
</html>

<script>
VanillaTilt.init(document.querySelectorAll(".joltcard"), {
    max:50,
    speed: 3,
    glare:true, 
    "max-glare":1,
    reverse:true,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    //gyroscopeMaxAngleY:     80,  
    perspective:            1000, 
});


VanillaTilt.init(document.querySelectorAll("#one-a"), {
    max: 40,
    speed: 2,
    glare:false, 
    "max-glare":1,
    reverse:false,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
   // gyroscopeMaxAngleY:     80,  
    //perspective:            1000, 
});

VanillaTilt.init(document.querySelectorAll("#one-b"), {
    max: 50,
    speed: 1,
    glare:false, 
    "max-glare":1,
    reverse:true,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    //gyroscopeMaxAngleY:     80,  
    //perspective:            1000, 
});

VanillaTilt.init(document.querySelectorAll("#one-c"), {
    max: 70,
    speed: 2,
    glare:false, 
    "max-glare":1,
    reverse:true,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    //gyroscopeMaxAngleY:     80,  
    //perspective:            1000, 
});

VanillaTilt.init(document.querySelectorAll("#two"), {
    max: 30,
    speed: 5,
    glare:false, 
    reverse:true,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    //gyroscopeMaxAngleY:     80,  
    //perspective:            1000, 
});

VanillaTilt.init(document.querySelectorAll("#two-a"), {
    max: 50,
    speed: 3,
    glare:false, 
    reverse:false,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    //gyroscopeMaxAngleY:     80,  
    //perspective:            1000, 
});

VanillaTilt.init(document.querySelectorAll("#two-b"), {
    max: 70,
    speed: 2,
    glare:false, 
    reverse:true,
    reset:false,
    //gyroscope
    //gyroscopeMinAngleX:     -80,     // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    //gyroscopeMaxAngleX:     80,      // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    //gyroscopeMinAngleY:     -80,     // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    //gyroscopeMaxAngleY:     80,  
    //perspective:            1000, 
});

$(document).ready(function(){
    $(".kindly").fadeIn(800);
});
$(document).ready(function(){
    $(".trigger").fadeIn(1200);
});
$(document).ready(function(){
    $(".tang").fadeIn(2000);
});

$(document).ready(function () {
    $(".tang-trig").hover(function () {
    $(".tang-pic").toggleClass("tang-pic-triggered");
    });
});

jQuery.fn.shake = function() {
this.each(function(i) {
$(this).css({ "position": "relative" });
for (var x = 1; x <= 3; x++) {
$(this).animate({ left: -25 }, 10).animate({ left: 0 }, 50).animate({ left: 25 }, 10).animate({ left: 0 }, 50);
}
});
return this;
} 
$("#one").shake();

function clickElite(e){
    if (document.getElementsByClassName('allow-elite')[0]){
        console.log('elite')
        var d=document.createElement("div");
        d.className="click-elite";
        d.style.top=e.clientY+"px";d.style.left=e.clientX+"px";
        document.body.appendChild(d);
        d.addEventListener('animationend',function(){d.parentElement.removeChild(d);}.bind(this));
    }
}
document.addEventListener('click',clickElite);

function clickRival(e){
    if (document.getElementsByClassName('allow-rival')[0]){        
        console.log(e)
        var d=document.createElement("div");
        d.className="click-rival";
        d.style.top=e.clientY+"px";d.style.left=e.clientX+"px";
        document.body.appendChild(d);
        d.addEventListener('animationend',function(){d.parentElement.removeChild(d);}.bind(this));
    }
}
document.addEventListener('click',clickRival);

//use e.clientx and e.clienty to set keyframe values as here:
//https://github.com/jlongster/css-animations.js/blob/master/examples/create.html
// rival straight but upwards
// elite eratic
// ultra very eratic
// discs spin off to the side
//hyper bounce
//maybe all of them bounce before the end and fall?


function clickUltra(e){
    if (document.getElementsByClassName('allow-ultra')[0]){        
        console.log(e)
        var d=document.createElement("div");
        d.className="click-ultra";
        d.style.top=e.clientY+"px";d.style.left=e.clientX+"px";
        document.body.appendChild(d);
        d.addEventListener('animationend',function(){d.parentElement.removeChild(d);}.bind(this));
    }
}
document.addEventListener('click',clickUltra);

function clickVortex(e){
    if (document.getElementsByClassName('allow-vortex')[0]){        
        console.log(e)
        var d=document.createElement("div");
        d.className="click-vortex";
        d.style.top=e.clientY+"px";d.style.left=e.clientX+"px";
        document.body.appendChild(d);
        d.addEventListener('animationend',function(){d.parentElement.removeChild(d);}.bind(this));
    }
}
document.addEventListener('click',clickVortex);


function clickMega(e){
    if (document.getElementsByClassName('allow-mega')[0]){        
        console.log(e)
        var d=document.createElement("div");
        d.className="click-mega";
        d.style.top=e.clientY+"px";d.style.left=e.clientX+"px";
        document.body.appendChild(d);
        d.addEventListener('animationend',function(){d.parentElement.removeChild(d);}.bind(this));
    }
}
document.addEventListener('click',clickMega);




//if (window.DeviceMotionEvent) {
//  window.addEventListener('devicemotion', deviceMotionHandler());
//    }
//    function deviceMotionHandler(){
//        $(".tang-pic").toggleClass("tang-pic-triggered");
//}


</script>
