
    boot1.break()
    boot1.type('PMU ROM Version: 9303', { delay: 50 }).break()
    boot1.type('NVMM ROM Version 4 092 83', { delay: 50 }).break()
    boot1.type('Initialising USB controllers.. Done', { delay: 50 }).break()
    boot1.type('128MB OK', { delay: 50 }).break()
    boot1.type('USB Device(s): 1 Keyboard, 1 Mouse, 1 Hub, 1 Storage Device', { delay: 50 }).break()
    boot1.type('Auto-detecting USB Mass Storage Devices..', { delay: 50 }).break()
    boot1.type(' Device #01: USB 2.0 FlashhDisk *speed*', { delay: 50 }).break()
    boot1.type('01 USB mass storage devices forum and configured', { delay: 50 }).break()
    boot1.type('(c) Motherboard, One', { delay: 50 }).break()
    boot1.type('Random code', { delay: 50 }).break()
    boot1.type('Booting from Hard Disk.', { delay: 50 }).break()
    boot1.break()
    boot1.type('c:\\', { delay: 1000 }).break()
    boot1.empty()

    https://www.youtube.com/watch?v=xnudvJbAgI0
    // windows 1 1985 PC XT hercules
    
    https://www.youtube.com/watch?v=jNzeHHTYWYY
    Unisys B39 boot sequence circa 1988
    T
    squares
    dots

    https://www.youtube.com/watch?v=eSNqzTwHiuU
    // IBM PC AT
