<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <style>

        </style>
    </head>
    <body>
        <h1>Active projects</h1>
        <h2>GCSE and A-level Exam Question Generator</h2>
        <h2>Comptia A+ practise resource</h2>
        <h2>Army Cognitive Test practise resource</h2>
        <br>
        <h1>Smaller scale web projects</h1>
        <h2>Prototype form handling app</h2>
        <h2>Online signup sheet</h2>
        <br>
        <h1>Scripts</h1>
        <h2>Accounting app</h2>
        <h2>Reciept and postal order handling</h2>
        <h2>Financial market scraping</h2>
    </body>
</html>